<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LJURLRouterExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A89418A61C229D3500989D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A89418BF1C229D3500989D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A89418CA1C229D3500989D1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
